name: 05-DL-T
on: 
  workflow_dispatch:
    inputs:
      url:
        required: true
        description: URL
      refs:
        required: true
        description: referer
      ua:
        required: true
        description: useragent
jobs:
  T-DL:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Requirements
      run : |
        sudo apt update
        sudo apt install -y unzip wget aria2
        chmod +x go-ul
        sudo cp go-ul /usr/local/bin/go-ul
        sudo rm output/.gitkeep DL/.gitkeep UL/.gitkeep
    - name: Downloading TS
      timeout-minutes: 360
      run: sudo aria2c -d DL -x 4 --enable-dht=true --seed-time=0 --referer="${{github.event.inputs.refs}}" --user-agent="${{github.event.inputs.ua}}" "${{github.event.inputs.url}}"
    - name: Uploading Video
      env:
        VOE_FTP: ${{ secrets.VOE_FTP }}
        FTP_1F: ${{ secrets.FTP_1F }}
        GO_TOKEN: ${{ secrets.GO_TOKEN }}
        GO_FOLDER: ${{ secrets.GO_FOLDER }}
        FOLDER: "DL"
      run: |
        go-ul ftp -d 'DL/' -r -u '${{ env.FTP_1F }}' -O
        pip install requests
        python 5file-ul.py
        mv 'output/link.txt' "output/$(echo $(date +'[%Y-%m-%d]'))"
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: link
        path: output/*.txt
    - name: PD DL uploader
      env:
        PD_TOKEN: ${{ secrets.PD_TOKEN }}
        FOLDER: "DL"
      run: python pd_uploader.py
    - name: TF UL
      run: |
        pip install playwright==1.41.0
        playwright install-deps
        playwright install chromium
        wget https://raw.githubusercontent.com/youcmd/xafv/refs/heads/tfit/tfit.py
        while read -r file; do
          [ -f "DL/$file" ] || continue
          python tfit.py -o output/link.txt "DL/$file"
        done < <(ls -v "DL")
